[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "b32"]
	path = b32
	url = https://github.com/extendr/b32
[submodule "b64"]
	path = b64
	url = https://github.com/extendr/b64
[submodule "h3o"]
	path = h3o
	url = https://github.com/extendr/h3o
[submodule "rextendr"]
	path = rextendr
	url = https://github.com/extendr/rextendr
[submodule "tomledit"]
	path = tomledit
	url = https://github.com/extendr/tomledit
